@page "/"
@using AspNetBlazor_RssFeeder.Services
@using AspNetBlazor_RssFeeder.Services.Interfaces

@inject ISettingsService settings

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>



@code 
{
    private SettingsData? settingsData;

    protected override async Task OnInitializedAsync()
    {
        var setResult1 = await settings.Set(GetSettingsData());
        var setResult2 = await settings.Set(GetSettingsData());
        var result = await settings.Get();

        settingsData = result.GetValueOrThrow();
    }

    private SettingsData GetSettingsData()
    {
        return new SettingsData
        {
            FeedsSettings = new[]
            {
                new FeedSettingsData { IsActive = true, URL = "https://habr.com/ru/rss/interesting/" },
                new FeedSettingsData { IsActive = false, URL = "https://dtf.ru/rss"}
            },
            UpdateFrequency = 100f,
            StyleDescription = false
        };
    }

    private string GetSettingsText()
    {
        return "" +
            "<?xml version=\"1.0\" encoding=\"utf-8\" ?>" +
            "<settings>" +
            "   <feeds>" +
            "       <feed is_active=\"true\">" +
            "           <url>https://habr.com/ru/rss/interesting/</url>" +
            "       </feed>" +
            "       <feed is_active=\"false\">" +
            "           <url>https://dtf.ru/rss</url>" +
            "       </feed>" +
            "   </feeds>" +
            "   <update_frequency>100.0</update_frequency>" +
            "   <style_description>false</style_description>" +
            "</settings>";
    }
}
